@page
@model SocietySync.Pages.AdminControllerModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
    <link rel="stylesheet" href="/css/AdminProfile.css">
    <link rel="stylesheet" href="/css/Index.css">
</head>
<body>
    <div id="TopLeft">
        <h2 style="color:white;font-weight:500;padding-left:120px;margin-top:-1px;padding-top:5px;"><strong>SMS</strong></h2>
    </div>
    <div id="Top">
        <h2 style="color:white;font-weight:500;padding-left:400px;margin-top:-1px;padding-top:5px;"><strong>SocietySync</strong></h2>
    </div>
    <div id="left">
        <div class="society-menu">
            <form method="post">
                <button type="submit" name="MenuButton" value="ViewInfo" class="menu-btn">View Info</button>
                <button type="submit" name="MenuButton" value="ViewUsers" class="menu-btn">View Users</button>
                <button type="submit" name="MenuButton" value="ViewSocieties" class="menu-btn">View Societies</button>
                <button type="submit" name="MenuButton" value="ViewRequests" class="menu-btn" id="viewRegistrationRequestsBtn">View Requests</button>
                <button type="submit" name="MenuButton" value="MakeAnnoucement" class="menu-btn" id="makeAnnouncementBtn">Make Announcement</button>
                <button type="submit" name="MenuButton" value="RemoveUsers" class="menu-btn" id="manageMembersBtn">Remove Users</button>
                <button type="submit" name="MenuButton" value="RemoveSocieties" class="menu-btn" id="manageSocietiesBtn">Remove Societies</button>
                <button type="submit" name="MenuButton" value="ManageRequests" class="menu-btn" id="manageRegistrationRequestsBtn">Manage Requests</button>
                <button type="submit" name="MenuButton" value="ViewHistory" class="menu-btn">View History</button>
            </form>
        </div>
    </div>

    <div id="center">
        <div class="tabs_bar">
            <button style="position:absolute;top:0px;left:5px;" class="btn" onclick="#"><span>Home</span></button>
            <button style="position:absolute;top:0px;left:800px;" class="btn" onclick="#"><span>Log Out</span></button>
        </div>
        <div id="panel">
            <span class="user-count-label">Total User Count:</span>
            <input type="text" class="user-count-field" name="user_count" value="@Model.UserCount" readonly>
        </div>
        <div id="content" style="position:absolute;top:100px;left:100px;width:500px; height:400px;border-style:solid; border-color:black;border-width:2px;border-radius:5px;">
            <textarea style="width:485px;height:385px;margin-top:-0px;margin-left:0px;" id="society_data">@ViewData["Selected_Data"]</textarea>
        </div>
    </div>

    <div id="RemoveMembersPopup" class="popup" @if (ViewData["RemoveMembersPopup"] != null && (bool)ViewData["RemoveMembersPopup"])
    {
        <text>style="display: block;"</text>
    }
    else
    {
        <text>style="display: none;"</text>
    })>
        <div class="popup-content">
            <div style="width:100%;height:40px;background-color:#333333;position:absolute;top:0;">
                <h3 style="color:white;font-weight:bold;text-align:center;margin-top:7px;">Manage User</h3>
            </div>
            <span class="close" id="closeManageMembersPopup" style="position: absolute; top: 0px; right: 0px; font-size: 20px; cursor: pointer; background-color: darkred; color: white; padding: 8px 7px; ">&times;</span>
            <div style="margin-top: 50px; padding: 20px;">
                <label for="memberId" style="font-weight: bold;margin-left:-3px;">User ID:</label><br>
                <form method="post">
                   <select id="RemoveUsers_Select" name="RemoveUsers_Select" style="width: 100%; padding: 8px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;">
                   @if (Model.Remove_Users != null)
                   {
                        @foreach (var User in Model.Remove_Users)
                        {
                            <option value="@User.RollNum">@User.RollNum</option>
                        }
                   }
                   </select>
                    <button type="submit" name="RemoveMember_btn" value="RemoveMember_btn" style="background-color: #333333; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-top: 68px; margin-left: 30px;">
                            Remove 
                    </button>
                </form>
                <p id="errorLabel" style="color: red; margin-top: 10px; display: none;">Error message here</p>
            </div>
        </div>
    </div>

    <div id="RemoveSocietiesPopup" class="popup" @if (ViewData["RemoveSocietiesPopup"] != null && (bool)ViewData["RemoveSocietiesPopup"])
    {
        <text>style="display: block;"</text>
    }
    else
    {
        <text>style="display: none;"</text>
    })>
        <div class="popup-content">
            <div style="width:100%;height:40px;background-color:#333333;position:absolute;top:0;">
                <h3 style="color:white;font-weight:bold;text-align:center;margin-top:7px;">Manage Societies</h3>
            </div>
            <span class="close" id="closeManageSocietiesPopup" style="position: absolute; top: 0px; right: 0px; font-size: 20px; cursor: pointer; background-color: darkred; color: white; padding: 8px 7px; ">&times;</span>
            <div style="margin-top: 50px; padding: 20px;">
                <label for="societyId" style="font-weight: bold;margin-left:-3px;">Society ID:</label><br>
                <form method="post">    
                      <select id="RemoveSocieties_Select" name="RemoveSocieties_Select" style="width: 100%; padding: 8px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;">
                            @if (Model.Remove_Societies != null)
                            {
                                @foreach (var User in Model.Remove_Societies)
                                {
                                     <option value="@User.Name">@User.Name</option>
                                }
                            }
                        </select>          
                        <button type="submit" name="RemoveSociety_btn" value="RemoveSociety_btn" style="background-color: #333333; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-top: 68px; margin-left: 30px;">
                            Remove
                        </button>
                </form>
                <p id="societyErrorLabel" style="color: red; margin-top: 10px; display: none;">Error message here</p>
            </div>
        </div>
    </div>

    <div id="manageRegistrationRequestsPopup" class="popup" @if (ViewData["manageRegistrationPopup"] != null && (bool)ViewData["manageRegistrationPopup"])
    {
        <text>style="display: block;"</text>
    }>
        <div class="popup-content">
            <div style="width:100%;height:40px;background-color:#333333;position:absolute;top:0;">
                <h3 style="color:white;font-weight:bold;text-align:center;margin-top:7px;">Manage Requests</h3>
            </div>
            <span class="close" id="closeManageRegistrationRequestsPopup" style="position: absolute; top: 0px; right: 0px; font-size: 20px; cursor: pointer; background-color: darkred; color: white; padding: 8px 7px; ">&times;</span>
            <div style="margin-top: 50px; padding: 20px;">
                <label for="pendingRequests" style="font-weight: bold;">Pending Requests:</label><br>
                <form method="post" id="societyForm">
                    <select id="pendingRequests" name="pendingRequests" style="width: 100%; padding: 8px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;">
                        @if (Model.Pending_Societies != null)
                        {
                            @foreach (var society in Model.Pending_Societies)
                            {
                                <option value="@society.Name">@society.Name</option>
                            }
                        }
                    </select>
                    <form method="post">
                        <button type="submit" name="DetailsBtn" value="DetailsBtn" style="background-color: #333333; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; position: absolute; top: 140px; left: 40px;">
                            View Detailed Info
                        </button>
                        <button type="submit" name="AcceptBtn" value="AcceptBtn" style="background-color: #333333; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; position: absolute; top: 200px; left: 25px;">
                            Accept
                        </button>
                        <button type="submit" name="RejectBtn" value="RejectBtn" style="background-color: #333333; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-top: 68px; margin-left: 100px;">
                            Reject
                        </button>
                    </form>
                </form>
            </div>
        </div>
    </div>

    <div id="makeAnnouncementPopup" class="popup-announcement" @if (ViewData["makeAnnoucementsPopup"] != null && (bool)ViewData["makeAnnoucementsPopup"])
    {
        <text>style="display: block;"</text>
    }
    else
    {
        <text>style="display: none;"</text>
    })>
        <div class="popup-content" style="width: 500px; height: 400px; top: 392px; left: 752px; transform: translate(-50%, -50%); position: fixed;">
            <div style="position:absolute;width:100%;height:40px;background-color:#333333;top:0;">
                <h3 style="color:white;font-weight:bold;text-align:center;margin-top:7px;">Make Announcement</h3>
            </div>
            <span class="close" id="closeMakeAnnouncementPopup" style="position: absolute; top: 0px; right: 0px; font-size: 20px; cursor: pointer; background-color: darkred; color: white; padding: 8px 7px; ">&times;</span>
            <div style="margin-top: 50px; padding: 20px;">
                <label for="announcementText" style="font-weight: bold;">Announcement:</label><br>
                <form method="post">
                    <textarea id="announcementText" name="announcementText" style="width: calc(100% - 40px); height: 150px; margin-bottom: 10px; padding: 10px; border-radius: 5px; border: 1px solid #ccc;"></textarea>
                    <div style="text-align: center;">
                        <button id="submitAnnouncementBtn" name="submitAnnouncementBtn" value="submitAnnouncementBtn" style="background-color: #333333; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Manage Members
        var manageMembersBtn = document.getElementById("manageMembersBtn");
        var manageMembersPopup = document.getElementById("RemoveMembersPopup");
        var closeManageMembersPopup = document.getElementById("closeManageMembersPopup");

        manageMembersBtn.onclick = function (event) {
            event.stopPropagation(); // Prevent event from propagating to the window
            manageMembersPopup.style.display = "block";
        }

        closeManageMembersPopup.onclick = function () {
            manageMembersPopup.style.display = "none";
        }

        // Manage Societies
        var manageSocietiesBtn = document.getElementById("manageSocietiesBtn");
        var manageSocietiesPopup = document.getElementById("RemoveSocietiesPopup");
        var closeManageSocietiesPopup = document.getElementById("closeManageSocietiesPopup");

        manageSocietiesBtn.onclick = function (event) {
            event.stopPropagation();
            manageSocietiesPopup.style.display = "block";
        }

        closeManageSocietiesPopup.onclick = function () {
            manageSocietiesPopup.style.display = "none";
        }

        // Manage Registration Requests
        var manageRegistrationRequestsBtn = document.getElementById("manageRegistrationRequestsBtn");
        var manageRegistrationRequestsPopup = document.getElementById("manageRegistrationRequestsPopup");
        var closeManageRegistrationRequestsPopup = document.getElementById("closeManageRegistrationRequestsPopup");

        manageRegistrationRequestsBtn.onclick = function (event) {
            event.stopPropagation();
            manageRegistrationRequestsPopup.style.display = "block";
        }

        closeManageRegistrationRequestsPopup.onclick = function () {
            manageRegistrationRequestsPopup.style.display = "none";
        }

        // Make Announcement
        var makeAnnouncementBtn = document.getElementById("makeAnnouncementBtn");
        var makeAnnouncementPopup = document.getElementById("makeAnnouncementPopup");
        var closeMakeAnnouncementPopup = document.getElementById("closeMakeAnnouncementPopup");

        makeAnnouncementBtn.onclick = function (event) {
            event.stopPropagation();
            makeAnnouncementPopup.style.display = "block";
        }

        closeMakeAnnouncementPopup.onclick = function () {
            makeAnnouncementPopup.style.display = "none";
        }

        // Event listener for submit button
        //document.getElementById("submitAnnouncementBtn").addEventListener("click", function (event) {
        //    event.preventDefault(); // Prevent default form submission
        //    var announcementText = document.getElementById("announcementText").value;
        //    var timestamp = getCurrentTimestamp();
        //    var announcementWithTimestamp = announcementText + "\n\n" + "Timestamp: " + timestamp;
        //    console.log(announcementWithTimestamp);
        //});

        function getCurrentTimestamp() {
            var now = new Date();
            var timestamp = now.toLocaleString();
            return timestamp;
        }
    </script>


</body>
</html>

